:root{
    --header-color: #2C3E4F;
    --section-color:#19BC9B;
    --footer-color: #3B536D;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.my-bg-header{
    background-color: var(--header-color);
}

.my-bg-section{
    background-color: var(--section-color);
}

.my-bg-footer{
    background-color: var(--footer-color);
}


.my-star:after, .my-star::before{
    content: '';
    display: block;
    width: 20%;
    background-color: white;
    height: 3px;
    margin: 0 10px;
}

section.bg-white .my-star:after,
section.bg-white .my-star::before{
    background-color: black;
}


#hero h1{
    padding: 15px 0;
}

#hero img{
    width: 250px;
}

#portfolio img{
    width: 100%;
    display: block;   
}

.my-img-container{
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.my-img-container:hover:after{
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #19bc9b86;
    color: white;
    font-size: 6em;
    font-weight: bold;
}

